/*

	font-	family: 'Open Sans', sans-serif;
	
	font-family: 'Anton', sans-serif;
 */

body
{
		font-family: 'Open Sans', sans-serif;
		background: #000 url('../img/pexels21.jpg');
		background-size: cover;
		background-attachment: fixed;
}
.contenedor{
	margin:auto;
	width: 100%;
	max-width: 1300px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
header{
	width: 100%;
	padding: 50px 0;
	display: flex;
	flex-direction: row;
/* 	flex-direction: column;
 */	justify-content: space-between;
	align-items: center;

}
header .menu a{
	color: #fff;
	text-decoration: none;
	margin-right: 40px;
	transition: all ease 0.5s;
	padding:10px 10px;
		/*
				Arreglar padding para responsive en el hover
		 */


}

header .menu a:hover{
	background-color: #09f;
	padding:20px 10px;
	text-decoration: underline;
}
header .menu .actual{
		background-color:#09f;
		padding:20px 10px;
}
header .logo img{
	width: 180px;
}
.main{
	background-color: #fff;
	padding: 20px;
	width: 75%;
/* 	box-shadow: 1px 2px 10px #000;
 */}

.main article .thumb{
	margin-bottom: 20px;
}
.main article .thumb img{
	width: 100%;
	vertical-align: top;
}
.main article h2{
	margin-bottom: 20px;
	font-weight: normal;
	font-size: 32px;
}

.main article p{
	margin-bottom: 20px;
	font-size: 14px;
	line-height: 25px;
}
aside{
	width: 25%;
/* 	background-color: #156DB7;
 */	background-color: #09f;
	padding: 20px ;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-between;

/* 	box-shadow: 0px 0px 10px #000;
 */}

aside .side1 {
	text-align:;
	padding: 30px 10px	;
	background-color: #156DB7;
	list-style: none;


}
aside .side1 h3{
	padding: 30px 0;
	font-size: 20px;
	text-align:center ;
/* 	margin-bottom: 20px; */

}
aside .side1 p,li, a{
	color: #fff;
	margin-bottom: 10px;




}
.side1  li a{
		
}
.avatar_side {
	width: 100%;

	margin: auto;

	text-align: center;

}
.avatar_side img{
	margin: auto;
	text-align: center;
}

footer{
	margin: 20px 0;
	background: rgba(255, 255, 255, .5);
	padding: 20px;
	width: 100%;
	/* 	box-shadow: 1px 2px 10px #000;
 */	display: flex;
	flex-direction: row;
	flex-wrap: no-wrap;
	justify-content: space-between;
}

footer .redes-sociales a, span{
/* 	text-decoration: underline;
 */	margin-left: 20px;
	color: #000;
	font-size: 20px;

}
footer .redes-sociales a:hover, span:hover{
	color: #09f;
}
.autor p{
	text-align: center;
}



/*
		Responsive
 */

@media screen and (max-width: 800px)
{	
	.main{
		width: 100%;
	}

	aside{
		width: 100%;
		flex-direction: row;
	}
	
	aside .side1{


	}

	.avatar_side {
	width: 100%;
	max-width: 200px;
	margin: auto;
	display: none;
	text-align: center;

	}
	header{
		flex-direction: row;
	}
	header .menu{

	}
	header .logo img{
	width: 150px;
	}

}

@media screen and (max-width: 600px){
	header{
		flex-direction: column;
		padding-bottom: 20px;
	}
	header .menu{
		width: 100%;
		text-align: center;
		padding: 20px;
		background: rgba(255,255,255,.2);
	}

	header .menu .actual{
		padding: 10px 10px;
		// color: #000;
		font-weight: bold;
		text-decoration: underline;	
	}
	header .menu a {
		padding: 3px 10px;
		margin:0 20px;
	}
	header .menu a:hover{
	
			// padding:10px 10px;
		background: none;
		color:#000;
		padding: 10px 10px;
		text-decoration: underline;
		
	}
	header .logo img{
		padding-bottom: 20px;
	}
	footer{
		flex-direction: column;
		text-align: center;
	}
	footer .autor{
		order:2;
	}

	footer .redes-sociales{
		order:1;
		margin-bottom: 20px;
	}


}

@media screen and (max-width: 500px)
{
	header{
		flex-direction: row;
	}

	header .menu{
		display: block;
		background: none;
	}
	header .menu a{
		display: block;
	}

	
	header .menu a{
		color: #fff;
		text-decoration: none;
		margin-right: 40px;
		transition: all ease 0.5s;
		padding:5px 10px;
			/*
					Arreglar padding para responsive en el hover
			 */


	}

	header .menu a:hover{
		background:none;
		padding:5px 10px;
		text-decoration: underline;
		color: #000;
	}
	header .menu .actual{
			background-color:#09f;
			padding:10px 10px;
			color: #fff;
	}
}

@media screen and (max-width: 450px){
		aside{
			display: none;
		}
}